django==5.1.5
celery==5.4.0
redis==5.0.1
flower==2.0.1
psycopg[binary]==3.1.19
django-extensions==3.1.5
ipython==8.15.0
ruff==0.3.4
watchfiles==1.0.4
requests==2.32.3
daphne==4.1.2
channels==4.2.0
channels-redis==4.2.1